body{
    background-image: url(/Imagenes/fondo-web-5.jpg);
}

.uno{
    text-decoration: none;
    display: block;
    border:solid grey;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    color: white;
    background-color: rgba(3, 58, 49, 0.288);
    font-family: 'Orbitron', sans-serif;
    position: relative;
}
.dos{
    text-decoration: none;
    display: block;
    border:solid grey;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    color: white;
    background-color: rgba(3, 58, 49, 0.288);
    font-family: 'Orbitron', sans-serif;
    position: relative;
    bottom: 56px;
    right: 0px;
    left: 209px;
}
.tres{
    text-decoration: none;
    display: block;
    border:solid grey;
    width: 200px;
    height: 39px;
    text-align: center;
    padding-top: 10px;
    color: white;
    background-color: rgba(3, 58, 49, 0.288);
    font-family: 'Orbitron', sans-serif;
    position:relative;
    bottom: 112px;
    right: 0px;
    left: 418px;
}
.juegos{
    display: block;
    border:solid grey;
    width: 500px;
    height: 85px;
    text-align: center;
    padding-top: 55px;
    color: rgb(12, 194, 82);
    background-color: rgba(6, 65, 32, 0.288);
    font-family: 'Orbitron', sans-serif;
    position: relative;
    bottom: 220px;
    right: 0px;
    left: 1290px;
}
.juego1{
    text-decoration: none;
    display: block;
    border:solid grey;
    width: 200px;
    height: 45px;
    text-align: center;
    padding-top: 17px;
    color: white;
    background-color: rgba(3, 58, 49, 0.288);
    font-family: 'Orbitron', sans-serif;
    position: relative;
    bottom: 100px;
    right: 0px;
    left: 1150px;
}
.juego2{
    text-decoration: none;
    display: block;
    border:solid grey;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    color: white;
    background-color: rgba(3, 58, 49, 0.288);
    font-family: 'Orbitron', sans-serif;
    position: relative;
    bottom: 160px;
    right: 10px;
    left: 1390px;
}
.juego3{
    text-decoration: none;
    display: block;
    border:solid grey;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    color: white;
    background-color: rgba(3, 58, 49, 0.288);
    font-family: 'Orbitron', sans-serif;
    position: relative;
    bottom: 213px;
    right: 5px;
    left: 1620px;
}
.LOGO{
    position: relative;
    bottom: 1280px;
    right: 0px;
    left: 1260px;
    border:solid teal;
}
/*_____________Contenido Principal___________*/
#principal{
    width:80%;
    height: auto; overflow: hidden;
    border: 1px solid;
    margin: 10px auto;
}
#publicaciones{
    width: 50%;
    height: auto; overflow: hidden;
    border: 1px solid red;
    margin-top: 10px ;
}
.post{
    width: 96%;
    height: auto; overflow: hidden;
    padding: 7px;
    background: #fdfdfd;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: red;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
    margin-bottom: 25px;
}
.enlace-post{
    text-decoration: none;

}
#publicaciones a .titulo-post{
color: #6e6e6e;
font-size: 22px;
font-family: 'calibri light';

}
#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}
#publicaciones .img-post{
    width: 150px;
    height: 100px;
    float: left;
    margin: 7px 7px 7px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#publicaciones .datos-publicaciones{
    font-family:'calibri light';
    color: crimson;
}
#publicaciones .parrafo-post{
    font-family:'calibri light';
    font-size: 16px;
    color: #848484;
    padding: 5px;
}
#publicaciones .leer-mas{
    background: red;
    color: white;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
#publicaciones .leer-mas:hover{
    background: rgb(82, 10, 10);
    color:white;
}
#publicaciones .num-comentarios{
    background: #0b3b39;
    color: white;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}
#publicaciones .enlace-paginacion{
    text-decoration: none;
    color: yellow;
}
#publicaciones .enlace-paginacion:hover{
    text-decoration: underline;
}