body{
    background-image: url(/Imagenes/fondo-web-5.jpg);
}

.uno{
    text-decoration: none;
    display: block;
    border:solid grey;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    color: white;
    background-color: rgba(3, 58, 49, 0.288);
    font-family: 'Orbitron', sans-serif;
    position: relative;
}

.LOGO{
    position: relative;
    bottom: 1280px;
    right: 0px;
    left: 1260px;
    border:solid teal;
}
/*_____________Contenido Principal___________*/
#principal{
    width:80%;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin: 10px auto;
}
#publicaciones{
    width: 50%;
    height: auto; overflow: hidden;
    border: 0px solid red;
    margin-top: 10px ;
    float: left;
}
.post{
    width: 96%;
    height: auto; overflow: hidden;
    padding: 7px;
    background: #fdfdfd;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: red;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
    margin-bottom: 25px;
}
.enlace-post{
    text-decoration: none;

}
#publicaciones a .titulo-post{
color: #6e6e6e;
font-size: 22px;
font-family: 'calibri light';

}
#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}
#publicaciones .img-post{
    width: 150px;
    height: 100px;
    float: left;
    margin: 7px 7px 7px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#publicaciones .datos-publicaciones{
    font-family:'calibri light';
    color: crimson;
}
#publicaciones .parrafo-post{
    font-family:'calibri light';
    font-size: 16px;
    color: #848484;
    padding: 5px;
}
#publicaciones .leer-mas{
    background: red;
    color: white;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
#publicaciones .leer-mas:hover{
    background: rgb(82, 10, 10);
    color:white;
}
#publicaciones .num-comentarios{
    background: #0b3b39;
    color: white;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}
#publicaciones .enlace-paginacion{
    text-decoration: none;
    color: yellow;
}
#publicaciones .enlace-paginacion:hover{
    text-decoration: underline;
}
#sidebar {
    float: right;
    width: 28%;
    border: 0px solid;
    height: auto; overflow: hidden;

}
#buscar, #links{
    border-radius: 10px;
    width: 98%;
    border: 1px solid #ccc;
    height: auto; overflow: hidden;
    margin-bottom: 20px;

}
form{
    margin-top: 10px;
}
#buscar input[type="text"]{
    border: 1px soli #ccc;
    box-shadow: 0px 0px 5px #ccc inset;
    padding: 15px 5px;
    border-radius: 10px;
    width: 75%;
    margin-left: 10px;
    margin-bottom: 30px;
}
#buscar .boton{
    border: 0px;
    color: white;
    background: #0b4c5f;
    padding: 10px;
    border-radius: 10px;
}
.encabezado-sidebar{
    width: 100%;
    height: 100px;
    background:#082726;
    text-align: center;
    color:white;
}
.enlace-sidebar{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    padding: 20px 15px;
    color: #a0e667;
}
.enlace-sidebar:hover{
    background: #0b3b39;
}
#task-container{
    padding:50px 20px 20px 20px ;
    border-radius: 10px;
    width: 200px;
    margin-left: 25px;
    margin-bottom: 10px;
    right: 300px;
    text-align: left;
    height: auto; overflow: hidden;

}
.noticia1{
    border-radius: 20px;
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top:1850px;
    left: 600px;

}
.noticia2{
    border-radius: 20px;
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 2280px;
    left: 600px;
}
.noticia3{
    border-radius: 20px;
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 700px;
    left: 600px;
}
.noticia4{
    border-radius: 20px;
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 1350px;
    left: 600px;
}
.noticia5{
    border-radius: 20px;
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 310px;
    left: 600px;
}