div{
    display: block;
    margin: 0;
   width: 500px;
    height: 80%;
    color: black;
}
h3{
    /* background: antiquewhite; */
    width: 600px;
}
.intrucciones{
    border: 1px solid rgb(8, 37, 46);
    display: block;
    background:  rgb(28, 128, 146);
    width: 1200px;
    color: whitesmoke;
}
.cambiar_contraseña{
    border: 2px solid rgb(3, 16, 19);
    display: block;
    background:  rgb(28, 128, 146);
    width: 1200px;
    color: whitesmoke;
}
.envianos_correo{
    border: 2px solid black;
    display: block;
    background:  rgb(28, 128, 146);
    width: 1200px;
    color: whitesmoke;
}
/* .question_title_help{

   margin: 0;
   padding: 0;

    
} */
.cuenta_robada{
    background: antiquewhite;

}
.center_question_help{
    background: antiquewhite;

}

/* .cuenta_personal{
    margin: 0;
} */
.mario{
    margin: 0;
    padding: 0;
    float: right;
}
/* .super{
    margin: 0;
    padding: 0;
    float: left;
} */
    
.container1{
    margin: 50px; 
    padding: 20px;

    
}
.container2{
    margin: 50px; 
    padding: 20px;
}
.container3{
    margin: 50px; 
    padding: 20px;
}
.ingresatupregunta{
    margin: 50px; 
    padding: 20px;
}
.agrega-ya{
    border: 1px solid rgb(224, 214, 214);
    background: rgb(225, 226, 226);
    width: 40%;
    font-size: 150%;
}
.enviarcomentario{
    width: 40%;
}






